.controller.xbox {
    background: url(https://nerxxy.github.io/xboxskin-faith/base.png);
}

.xbox.disconnected {
    background: url(https://nerxxy.github.io/xboxskin-faith/disconnected.png);
}

.xbox .trigger {
    background: url(https://nerxxy.github.io/xboxskin-faith/trigger.png);
}

.xbox .bumper {
    background: url(https://nerxxy.github.io/xboxskin-faith/bumper.png);
}

.xbox .back, .xbox .start {
    background: url(https://nerxxy.github.io/xboxskin-faith/start-select.png);
}

.xbox .button {
    background: url(https://nerxxy.github.io/xboxskin-faith/abxy.png);
}

.xbox .stick {
    background: url(https://nerxxy.github.io/xboxskin-faith/stick.png);
}

.xbox .face {
    background: url(https://nerxxy.github.io/xboxskin-faith/dpad.png);
}
